body {
  background-color: #c3ece3;
}

.cart-button {
  background-color: #f55d3e;
  color: white;
  display: flex;
  font-weight: 500;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-decoration: none;
}

.empty-cart {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px;
}

.button {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.nothing {
  text-align: center;
  width: 100%;
}

.produtos {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  width: 500px;
}

.title {
  align-items: center;
  height: 70px;
}

.input-search {
  border: solid black 2px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px;
  width: 70%;
}

.message {
  color: #399e5a;
  margin-top: 35px;
  text-align: center;
}

.shopping-cart {
  color: #f55d3e;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
