body {
  background-color: #c3ece3;
}

.cart-button {
  background-color: #f55d3e;
  color: white;
  display: flex;
  font-weight: 500;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-decoration: none;
}

.empty-cart {
  display: flex;
  justify-content: center;
}

.input-search {
  border: solid black 2px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 600px;
}

.message {
  color: #3eaf64;
  margin-top: 35px;
  text-align: center;
}

.shopping-cart {
  color: #f55d3e;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
